<!DOCTYPE html>
<html lang="en-US">

<head>

<title>evm_contracts_db</title>

<meta name="description" content="evm_contracts_db">
<meta name="author" content="BlockScience">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body> 

<header>
	<h1>evm_contracts_db</h1>
</header>

<main class="content">
	{% block block_content %}
    {% endblock %}
</main>

<footer class="footer">
	<p><a href="https://github.com/notchia/evm_contracts_db"><b>See the project on GitHub</b></p>
</footer>

</body>

</html>